<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <title>Game Info</title>
</head>
<body>
    <header class="main-header">
        <div class="header-container">
            <p>Welcome, <strong>{{user.first_name}} {{user.last_name}}</strong>!</p>
            <div class="user-nav">
               <a href="//dashboard" class="btn-back">Go to </a> | 
                <a href="/logout" class="btn-logout">Logout</a>
            </div>
        </div>
    </header>

    <div class="container detail-container">
        {% if messages %}
            <div class="alert-messages">
                {% for msg in messages %}
                    <p class="{{msg.tags}}">{{msg}}</p>
                {% endfor %}
            </div>
        {% endif %}
          <section class="model-info">
                <p> Name : {{.name}}</p>
                <p class="model-desc"><strong>Description:</strong> {{.description}}</p>
                <p>Created by : {{.created_by.first_name}} {{.created_by.last_name}}</p>
            {% if .created_by.id == user.id %}                        
                <div class="action-buttons">
                    <a href="//{{.id}}/edit" class="btn btn-update">Update</a>
                    <form action="//{{.id}}/delete" method="post" style="display:inline">
                    {% csrf_token %}
                    <input type="submit" value="Delete" onclick="return confirm('Are you sure?')" class="btn btn-delete">
                </form> 
            </div>
            {% endif %}
             {% if user not in model.users_who_like.all %}
             <form action="//{{.id}}/favorite" class="add-to-fav-box" style="margin-top: 50px;" method="post">
                {% csrf_token %}
                    <input type="submit" class="btn btn-primary" value="Add to Favorites" >
                    <select name="rate" id="rate" required>
                        <option disabled >Rate</option>
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="4">4</option>
                        <option value="5">5</option>
                    </select>
             </form>
            {% endif %}
           <div style="margin-top: 50px;">
             {% if  user  in model.users_who_like.all %}
                 <a  class="btn-delete" href="//{{.id}}/unfavorite" class="link-unfavorite">Un-Favorite</a>
            {% endif %}
           </div>
        </section>

           <section class="model-lovers">
            <h2>Users Who Like This </h2>
            <table class="lovers-list">
                <thead>
                    <tr>
                        <td>ID</td>

                    </tr>
                </thead>
                <tbody>
                    {% for like in likes %}
                        <tr>
                            <td>{{like.user.id}}</td>
                            <td><a href="/profile/{{like.user.id}}">{{like.user.first_name}} {{like.user.last_name}}</a></td>
                        </tr>
                        {% empty %}
                            <tr><td colspan="3">No users like this  yet.</td></tr>
                    {% endfor %}
                </tbody>
            </table>

        </section>
    </div>  
</body>
</html>